

{{> head}}



{{> navbar }}

    <div class="row">

        <div class="col-8">

            <h1>Galeones</h1>
            <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Veniam doloribus tempora reprehenderit quia tenetur doloremque magnam iure? Molestias, atque. Quas, accusantium amet repellat dolore iste obcaecati laudantium eius quos atque?</p>

        </div>

        <div class="col-4">

            <img src="assets/img/galeon.jpg" alt="img-thumbnail">


        </div>



    </div>




{{> footer}}